<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title></title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->
    <!-- Import of custom css -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <!-- Import of own css -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css"/>
    <script type="module" th:attr="src='/static/js/main.js'"></script>
</head>

<body>

<div class="jumbotron text-center">
    <h1 class="main_title">Electronics Shop</h1>
</div>

<button class="" id="login_button" >Log in</button>
<button class="" id="register_button" >Register</button>

<div class="category-container">
    <div class="category">
        <button class="category-name" value="All">All</button>
    </div>
    <div class="category" th:each="category, iterStat : ${categories}">
        <button class="category-name" th:text="${category.name}">Categories</button>
    </div>
<a class="cart" href="/cart"><button class="category-name"><img src="/static/img/Shopping-Cart-icon.png"></button></a>
</div>


<div class="container">
    <div class="modal">
        <div class="modal-content">
            <button id="close_modal" type="button">X</button>
            <form id="login_form" class="hide">
                <h2>Log in</h2><br>
                <input name="login_name" id="login_name" placeholder="name"><br>
                <input  name="login_password" id="login_password" placeholder="password" type="password"><br>
                <button id="login_submit"  type="button">Login</button>
                <h4 id="login_error"></h4>
            </form>
            <form id="register_form" class="hide">
                <h2>Registration</h2><br>
                <input name="register_name" id="register_name" placeholder="name"><br>
                <input name="register_password" id="register_password" placeholder="password" type="password"><br>
                <button id="register_submit" type="button">Register</button>
                <h4 id="register_error"></h4>
            </form>
        </div>
    </div>
    <div class="card" data-label="card" th:each="category,iterStat : ${categories}">
        <strong th:text="${category.name}">Category Title</strong>
            <div id="products" class="row">
                <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}" th:if="${prod.getProductCategory().getName() == category.name}">
                    <div>
                    <div class="card">
                        <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                        <div class="card-header">
                            <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                            <p class="card-text" th:text="${prod.description}">Product description... </p>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="card-text">
                                <button class="btn btn-success" type="button" th:id="${prod.name}">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>