
.hide {
    display: none;
}

.modal {
    position: absolute;
    margin-left: 42%;
    width: initial;
    margin-top: 16%;
}

#close-modal {
    margin-top: 10px;
    position: absolute;
    right: 15px;
    padding: 10px;
    border-radius: 50px;
}

.modal-content {
    padding: 5px;
    background-color: whitesmoke;
    opacity: 0.9;
}

#close_modal {
    position: absolute;
    right: 5px;
    width: 20px;
    alignment: right;
    padding: 0;
    text-align: center;
}

#loginForm {
    text-align: center;
}

#loginSubmit{
    margin-top: 10px;
}

#registerForm {
    text-align: center;
}

#registerSubmit{
    margin-top: 10px;
}