.card {
    margin-bottom: 3%;
}

.jumbotron.text-center {
    background-image: url(https://st2.depositphotos.com/1968353/7849/v/600/depositphotos_78493496-stock-video-pcb-background-loopable-animation.jpg);
}

.main_title {
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

.btn-success{
    background-color: blue;
}

.btn {
    border-radius: .7rem;
}

.category-container {
    text-align-last: center;
    margin-bottom: 2rem;
    margin-left: 3rem;
}

.hidden-card {
    display: none;
}

.category {
    display: inline;
}

button:hover {
    opacity: 0.8;
}

.category-name {
    border-radius: 15px;
    font-size: 2rem;
    background-color: blue;
    color: #eeeeee;
}

.price {
    text-align: right;
    clear: right;
    font-size: 1.1rem;
    font-weight: bold;
}

.category-name img {
    height: 3rem;
    width: 3rem;
}

.cart {
    margin-left:8rem;
}

#loginButton {
    margin-bottom: 1rem;
    border-radius: 15px;
    font-size: 2rem;
    background-color: blue;
    color: #eeeeee;
}

#registerButton {
    margin-bottom: 1rem;
    border-radius: 15px;
    font-size: 2rem;
    background-color: blue;
    color: #eeeeee;
}